jsonlib-python3==1.6.1  # JSON handling library
unittest2==1.1.0  # Extended version of the built-in unittest framework
argparse==1.4.0  # Argument parsing library (standard library backport for older Python versions)
